%div(data-role="page" id="main")
  %div(data-role="header")
    %h1 My Title
  %div(data-role="content")
    %ul(data-role="listview" data-inset="true" data-filter="true" id="event-chooser")

%div(data-role="page" id="new")
  %div(data-role="header")
    %h1 New Event
  %div(data-role="content")
    Hello!
