%div(data-role="page" id="main2")
  %div.header(data-role="header")
    %h1 Heumon.
  %div.content(data-role="content")
    %ul(data-role="listview" data-inset="true" data-filter="true" id="event-chooser")
      %li testing
  %div.footer(data-role="footer")
    %h1 Choose an event.

%div(data-role="page" id="event-chosen")
  %div.footer(data-role="header")
    %h1 Event Chosen - 
  %div.content(data-role="content")

