!!! 5
%html
  %head
    %title Heumon
    /%link{ :rel => "stylesheet", :href => "/stylesheets/bootstrap-1.4.0.min.css", :type => "text/css" }
    %link(rel="stylesheet" href="/stylesheets/heumon.css" type= "text/css")
    %script(source="/javascripts/jquery.mobile-1.0.min.js")
%body
  .topbar
    .topbar-inner
      .container
        %a.brand(href="#")
          Hello
        %ul
          %li 
            %a(href="#") One
          %li
            %a(href="#") Two
          %li
            %a(href="#") Three
          %li
            %a(href="#") Four
  =yield
