!!! 5
%html
  %head
    /%meta(http-equiv="refresh" content="5")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="default")
    %meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
    %link(rel="stylesheet" href="/stylesheets/jquery.mobile-1.0.min.css")
    %script(type="text/javascript" src="/javascripts/jquery-1.6.4.min.js")
    %script(type="text/javascript" src="/javascripts/jquery.mobile-1.0.min.js")
    %script(type="text/javascript" src="/javascripts/heumon.js")
  %body
    =yield
